# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
dist/
client/dist/

# SQLite temporary WAL and SHM files
*.db-shm
*.db-wal

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
